.wrap {
  margin-top: 10px;
  width: 100%;
  overflow-x: auto;

  .scrollport{
    display: flex;
    width: max-content;
    margin: 0 auto;
    
  }
  .block{
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    font-size: 32px;
    margin: 5px;
    padding: 10px;
    background-color: tomato;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    &:hover{
      scale: 1.1;
      cursor: pointer;
      background-color: red;
    }
  }
}

