.header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(12, 20, 29);
  -webkit-box-shadow: 0 15px 58px 0 rgba(0, 0, 128, 0.8), 0 5px 14px 0 rgba(0, 56, 136, 0.2);
          box-shadow: 0 15px 58px 0 rgba(0, 0, 128, 0.8), 0 5px 14px 0 rgba(0, 56, 136, 0.2);
  position: absolute;
  top: 0;
  margin-bottom: 110px;
}

.nav {
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 10px;
}
.nav .logo {
  position: absolute;
  top: 10px;
  left: -20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}
.nav .logo:hover {
  scale: 1.05;
}
.nav .reg {
  padding: 10px 20px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(red), to(#a30202));
  background: linear-gradient(to right, red, #a30202);
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav .reg:hover {
  background: -webkit-gradient(linear, left top, right top, from(#a30202), to(#730101));
  background: linear-gradient(to right, #a30202, #730101);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.nav .log {
  padding: 10px 20px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(rgb(26, 2, 159)));
  background: linear-gradient(to right, blue, rgb(26, 2, 159));
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav .log:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgb(2, 2, 188)), to(rgb(23, 2, 142)));
  background: linear-gradient(to right, rgb(2, 2, 188), rgb(23, 2, 142));
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.nav .line {
  position: relative;
  z-index: 10;
  color: #fff;
}
.nav .line::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 15px;
  width: 1px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.nav .line::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -25px;
  width: 1px;
  height: 25px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#text {
  text-align: center;
  border: 4px solid #1086e8;
  background-color: #000;
  padding: 5px 10px;
  width: 200px;
  border-radius: 20px;
  -webkit-animation: border-flicker 2s linear infinite;
          animation: border-flicker 2s linear infinite;
  position: absolute;
  top: 10px;
  left: -20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}

.h1 {
  color: #FF00E6;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  -webkit-animation: text-flicker 3s linear infinite;
          animation: text-flicker 3s linear infinite;
}